//contacts page

body
  color: #562C3E

.bannerContact
  background: url("../img/banerContact.png")
  background-size: cover
  height: 308px

.marginTitleContact
  margin-top: 87px

.titleSlide
  margin-top: 80px
  display: inline-block
  font-size: 48px
  color: white
  position: relative
  font-weight: 500
  text-shadow: 0px 5px 5px rgba(0,0,0,0.25)

.redBgTitile
  background: #D9262D
  padding: 32px 4px 5px 10px
  border-radius: 10px


.bigLatter
  font-size: 96px

.sectionAdress img
  width: 90px

.sectionAdress
  display: flex
  width: 557px
  height: 181px
  margin-bottom: 52px
  position: relative

.flexMap
  margin-top: 114px
  display: flex

.titleMain
  color: white
  font-family: "Roboto Slab", serif
  background: #896C78
  border-radius: 10px
  height: 46px
  display: inline-flex
  padding: 0 17px
  justify-content: center
  align-items: center
  font-weight: 500
  font-size: 20px
  position: relative
  margin-top: 18px

.lineUnder
  width: 100%
  position: absolute
  bottom: -34px
  left: 0
  height: 1px
  background: #CDC0C6
  margin-top: 24px

.titleAdress
  font-weight: 500
  font-family: "Roboto Slab", serif
  font-size: 20px

.containerAdress
  padding-left: 20px
  position: relative
  top: -5px

.subtitleAdress
  margin-top: 33px
  font-size: 16px
.subtitleAdressSpecialMargin
  margin-top: 42px
  font-size: 16px

.additionalWidth
  width: 100px !important

.contactImg
  opacity: 0
  transform: translateY(100px)
  transition: opacity 0.5s ease, transform 0.5s ease
  margin: 0 auto

.contactImg.in-view
  opacity: 1
  transform: translateY(0)


#map1,#map2
  width: 100%
  height: 181px
  border-radius: 10px
  overflow: hidden
  margin-bottom: 52px

.rightSection
  width: 777px
  position: relative
  top: -30px

.underMapDescription
  margin-top: 80px

.bottomRightStick
  position: absolute
  bottom: 30px
  right: 20px
  width: 457px
  height: 1px
  background: #CDC0C6

.titleMain
  opacity: 0
  transform: translateX(-100%)
  transition: opacity 0.5s ease, transform 0.5s ease
  &.slide-in
    opacity: 1
    transform: translateX(0)
