
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Exo 2", sans-serif;
  padding-top: 72px;
  color: #562C3E;
  background: #ffffff;
}
.container {
  width: 1356px;
  margin: 0 auto;
}


header {
  background: white;
  z-index: 100;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  display: flex;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
header .container {
  display: flex;
  align-items: center;
}


.logo {
  display: flex;
  margin-right: 76px;
}

.links {
  display: flex;
  width: 604px;
  justify-content: space-evenly;
  align-items: center;
  height: 72px;
  position: relative;
}
.links a {
  color: #562C3E;
  text-decoration: none;
  font-size: 15px;
}
.links:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 30px;
  background: #EDEDED;
  width: 2px;
  transform: translateY(-50%);
}
.links:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 30px;
  background: #EDEDED;
  width: 2px;
  transform: translateY(-50%);
}

.contactUs {
  margin-left: auto;
  display: flex;
}
.contactUs div {
  align-items: center;
  display: flex;
  color: #562C3E;
  font-weight: 500;
}
.contactUs img {
  margin-right: 13px;
}
.mrLeftMobile {
  margin-left: 27px;
}


footer {
  height: 456px;
  background: #562C3E;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 15px;
}

.flexContainer {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.secondPartFooter {
  width: 434px;
  position: relative;
}

.leftStick {
  background: #896C78;
  width: 1px;
  height: 142px;
  position: absolute;
  left: 0;
  top: 90px;
}

.rightStick {
  background: #896C78;
  width: 1px;
  height: 142px;
  position: absolute;
  right: 0;
  top: 90px;
}

.logoFooter {
  margin: 0 auto;
  display: block;
  width: 220px;
  transition: 0.5s;
  cursor: pointer;
}
.logoFooter:hover {
  width: 234px;
  transition: 0.5s;
}

.servicesFooter {
  margin-top: 30px;
  display: block;
  color: white;
  text-decoration: none;
}

.ulFooter {
  margin-top: 21px;
  position: relative;
  left: 18px;
}
.ulFooter li {
  margin-top: 10px;
  color: #CDC0C6;
}

.generalLinksFooter {
  margin-top: 20px;
  display: block;
  color: white;
  text-decoration: none;
}

.adress {
  text-align: center;
  margin-top: 67px;
}
.adress img {
  margin-right: 10px;
  position: relative;
  bottom: -5px;
}

.connectWithUs {
  margin-bottom: 20px;
}

.social {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: white;
  text-decoration: none;
}
.social img {
  margin-right: 24px;
}

.lastFooter {
  background: #E0DEE4;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}
.lastFooter div {
  width: 33%;
}

.copyRight {
  text-align: center;
  color: #562C3E;
}

.firestPartFooter, .secondPartFooter, .thirdPartFooter {
  width: 33.3%;
}

.thirdPartFooter {
  padding-left: 170px;
}

.politic {
  text-align: right;
  margin-left: 95px;
  color: #562C3E;
  text-decoration: none;
}

.anyQuestions {
  width: 100%;
  height: 660px;
  background: #E0DEE4;
  position: relative;
}
.containerRelative {
  padding-top: 120px;
  height: 660px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.womanQuestion {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
}


.infoBlockQuestion {
  width: 1015px;
  height: 520px;
}

.flexTextQuestions {
  display: flex;
  position: relative;
  left: -90px;
}
.titleQuestion {
  font-size: 48px;
}
.questonsText {
  background: #D9262D;
  border-radius: 10px;
  font-weight: 500;
  font-size: 48px;
  color: white;
  font-family: "Roboto Slab", serif;
  padding: 49px 9px 20px 20px;
  z-index: -1;
}

.subQuestion {
  width: 343px;
  margin-top: 70px;
  font-size: 15px;
  margin-left: 40px;
}

.oneLetterQueston {
  font-size: 96px;
}
.formFlex {
  display: flex;
  padding-left: 100px;
  margin-top: 67px;
}
.littleInputForm {
  margin-bottom: 23px;
  width: 206px;
  height: 48px;
  background: white;
  border-radius: 5px;
  padding-left: 24px;
  font-size: 15px;
  display: block;
  border: none;
  font-family: "Exo 2", sans-serif;
}
.bigInputForm {
  width: 512px;
  height: 192px;
  margin-left: 24px;
  background: white;
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 14px;
  display: flex;
  font-size: 15px;
  border: none;
  font-family: "Exo 2", sans-serif;
  resize: none;
}

.flexSpaceBeetween {
  justify-content: space-between;
  display: flex;
}

.file-upload {
  margin-top: 11px;
  margin-left: 24px;
}

.file-upload {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #562C3E;
}

.file-upload input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-upload label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.file-upload img {
  margin-right: 8px;
}
.btnKnowAbout {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  background: #D9262D;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  width: 138px;
  height: 42px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 25px;
}
