* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1356px;
  margin: 0 auto;
}

body {
  font-family: "Exo 2", sans-serif;
  padding-top: 72px;
  color: #562C3E;
  background: #ffffff;
}

.swiper-container {
  width: 100%;
  height: 655px;
  overflow: hidden;
  background: #F7F6F9;
}

.swiper-container2 {
  margin-top: 100px;
  overflow: hidden;
  position: relative;
}

.swiper-slideV1 {
  position: relative;
  width: 1356px;
  height: 655px;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: filter 0.5s, opacity 0.5s;
  padding-left: 117px;
  padding-top: 100px;
}
@media (max-width: 1000px) {
  .swiper-slideV1 {
    padding-left: 33px;
  }
}
.swiper-slideV2 {
  position: relative;
  width: 665px;
  height: 500px !important;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: filter 0.5s, opacity 0.5s;
  padding-left: 117px;
  padding-top: 100px;
}

.figureWhite {
  position: absolute;
  bottom: 0;
  right: -2px;
}
@media (max-width: 1000px) {
  .figureWhite {
    width: 476px;
  }
}
.swiper-slide-active {
  filter: none;
  opacity: 1;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  transition-timing-function: ease;
  position: relative;
  padding-bottom: 150px;
}

.slideBg1 {
  background-image: url("../img/slide-1.png");
  background-size: cover;
}

.slideBg2 {
  background-image: url("../img/slide-2.png");
  background-size: cover;
}

.slideBg3 {
  background-image: url("../img/slide-3.png");
  background-size: cover;
}

.carousel_block {
  font-family: "Roboto Slab", serif;
}

.titleSlide {
  font-size: 48px;
  color: white;
  background: #D9262D;
  border-radius: 10px;
  display: inline-block;
  padding: 0 25px;
  position: relative;
  font-weight: 600;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.littleTitle {
  white-space: nowrap;
  position: absolute;
  font-size: 48px;
  font-weight: 600;
  bottom: -65px;
  left: 119px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.secondLittleTitle {
  font-size: 48px;
  font-weight: 600;
  bottom: -112px;
  right: -321px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
}

.subtitleSlide {
  color: white;
  margin-top: 140px;
  width: 293px;
}

.subtitleSlideV2 {
  color: white;
  margin-top: 170px;
  width: 293px;
}

.btnSlide {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  background: #D9262D;
  border: none;
  border-radius: 10px;
  margin-top: 105px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  width: 138px;
  height: 42px;
  cursor: pointer;
}

.btnSlideNoMargin {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  background: #D9262D;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  width: 138px;
  height: 42px;
  cursor: pointer;
  margin-top: 70px;
  align-self: flex-end;
}
@media (max-width: 1200px) {
  .btnSlideNoMargin {
    position: relative;
    margin-right: 30px;
  }
}
.btnSendForm {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  background: #D9262D;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  width: 138px;
  height: 42px;
  cursor: pointer;
  margin-top: 120px;
  align-self: flex-end;
}

.ourAdvantages {
  padding-top: 100px;
  background-image: url("../img/backgroundSquares.png");
}

.titleSection {
  font-size: 32px;
  position: relative;
  font-weight: 600;
  right: -20px;
  color: #562C3E;
  font-family: "Roboto Slab", sans-serif;
}

.polygonRed {
  position: relative;
  top: -2px;
  right: -20px;
}

.elemsS1 {
  display: flex;
  justify-content: space-evenly;
}

.elemS1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 321px;
  margin-top: 140px;
}
@media (max-width: 1200px) {
  .elemS1 {
    width: 286px;
  }
}
.elemS1 img {
  width: 115px;
}

.titleElemS1 {
  color: rgb(86, 44, 62);
  background: rgb(255, 200, 204);
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 52px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .titleElemS1 {
    width: 219px;
  }
}
.subTitleElemS1 {
  width: 287px;
  padding: 20px 30px 39px 30px;
  font-weight: 400;
  color: white;
  margin: 17px auto 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(166, 145, 154) 0%, rgb(86, 44, 62) 100%);
  height: 173px;
}
@media (max-width: 1000px) {
  .subTitleElemS1 {
    width: 219px;
    height: 237px;
    margin: 20px 0 0 0;
  }
}
.squareMarron {
  position: relative;
  width: 528px;
  height: 494px;
  background: #562C3E;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .squareMarron {
    width: 375px;
    height: 374px;
  }
}
.squareMarron img {
  position: absolute;
  bottom: 0;
  left: -33px;
  width: 548px;
}

.supply {
  padding-top: 275px;
  background-image: url("../img/backgroundSquares.png");
}
@media (max-width: 1200px) {
  .supply {
    padding-top: 150px;
  }
}
@media (max-width: 1000px) {
  .supply {
    padding-top: 100px;
  }
}
.gradientBlock {
  padding-top: 53px;
  width: 779px;
  height: 380px;
  padding-right: 131px;
  background-image: url("../img/gradientBgSupply.png");
  margin-top: 70px;
}
@media (max-width: 1200px) {
  .gradientBlock {
    width: 541px;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
  }
}
.titleSupp {
  font-size: 32px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  color: #562C3E;
  text-align: center;
}
@media (max-width: 1200px) {
  .titleSupp {
    text-align: left;
    position: relative;
    left: -354px;
  }
}
@media (max-width: 1000px) {
  .titleSupp {
    left: 0;
  }
}
.flexSupply {
  display: flex;
}
@media (max-width: 1200px) {
  .flexSupply {
    align-items: flex-end;
  }
}
@media (max-width: 1000px) {
  .flexSupply {
    overflow: hidden;
    padding-top: 10px;
  }
}
.supplySpanAfter {
  color: white;
  position: relative;
}
.supplySpanAfter:after {
  content: "";
  color: white;
  position: absolute;
  top: -14px;
  left: -18px;
  background: #D9262D;
  border-radius: 10px;
  height: 69px;
  width: 186px;
  z-index: -1;
}

.oneBox {
  padding-left: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1200px) {
  .oneBox {
    padding-left: 0;
  }
}
.topTextGradient {
  color: #562C3E;
  width: 436px;
}

.listInGradient {
  width: 436px;
  margin-top: 23px;
}
.listInGradient li {
  margin-bottom: 20px;
  font-weight: 600;
  color: #562C3E;
}

.listInGradient li::marker {
  color: #D9262D;
}

.capabilities {
  padding-top: 150px;
  position: relative;
  background-image: url("../img/backgroundSquares.png");
}
@media (max-width: 1200px) {
  .capabilities {
    padding-bottom: 150px;
    padding-top: 90px;
  }
}
.services {
  display: flex;
  gap: 20px;
}

.service-card {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.service-card:hover .card-image img {
  transform: translateY(-10%);
}

.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: transform 0.3s;
}

.card-image {
  height: 60%;
  overflow: hidden;
  transition: transform 0.3s;
}

.card-image img {
  width: 100%;
  transition: transform 0.3s;
}

.card-text {
  padding: 20px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text h3 {
  margin: 0;
}

.card-text p {
  margin: 10px 0;
  color: #555;
}

.card-button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #d9262d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #b02023;
}

.cababCards {
  margin-top: 320px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -90px;
}
@media (max-width: 1200px) {
  .cababCards {
    margin-top: 75px;
  }
}
.cabaCard {
  width: 436px;
  position: relative;
  z-index: 6;
}
@media (max-width: 1400px) {
  .cabaCard {
    width: 349px;
  }
}
@media (max-width: 1200px) {
  .cabaCard {
    width: 300px;
  }
}
@media (max-width: 1000px) {
  .cabaCard {
    width: 220px;
  }
}
.firstPartGrey {
  background: #9C9C9C;
  height: 81px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.cabaCard:hover .abilityPicCards {
  top: -207px;
  transition: 0.5s;
}
@media (max-width: 1400px) {
  .cabaCard:hover .abilityPicCards {
    top: -150px;
  }
}
@media (max-width: 1200px) {
  .cabaCard:hover .abilityPicCards {
    top: -100px;
  }
}
@media (max-width: 1000px) {
  .cabaCard:hover .abilityPicCards {
    top: -80px;
  }
}
.abilityPicCards {
  z-index: 1;
  position: absolute;
  top: -107px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
@media (max-width: 1400px) {
  .abilityPicCards {
    width: 300px;
    top: -57px;
  }
}
@media (max-width: 1200px) {
  .abilityPicCards {
    width: 260px;
  }
}
@media (max-width: 1000px) {
  .abilityPicCards {
    width: 220px;
  }
}
.secondPartWhite {
  z-index: 2;
  height: 140px;
  background: white;
  width: 100%;
  border-radius: 0 0 10px 10px;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.textOnGrey {
  height: 126px;
  position: relative;
  z-index: 2;
  margin-left: 48px;
  font-size: 32px;
  color: white;
  font-weight: 600;
  line-height: 42px;
  font-family: "Roboto Slab", serif;
  top: -50px;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1350px) {
  .textOnGrey {
    font-size: 25px;
  }
}
@media (max-width: 1200px) {
  .textOnGrey {
    font-size: 19px;
    line-height: 25px;
    margin-left: 38px;
  }
}
@media (max-width: 1000px) {
  .textOnGrey {
    margin-left: 13px;
  }
}
.secondPartWhite {
  display: flex;
}

.descriptionWhitePart {
  width: 245px;
}

.btnKnowMargin {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  background: #D9262D;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  width: 138px;
  height: 42px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 140px;
}
@media (max-width: 1200px) {
  .btnKnowMargin {
    margin-top: 0;
  }
}
.partWhiteBtn {
  width: 85px;
  height: 73px;
  background: rgb(217, 38, 45);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.partWhiteBtn img {
  position: relative;
  bottom: -5px;
}

.knowAbout {
  height: 885px;
  background: url("../img/knowAbout.png");
  background-size: cover;
}
@media (max-width: 1200px) {
  .infoKnowAbout {
    height: 374px;
  }
}
@media (max-width: 1000px) {
  .infoKnowAbout {
    width: 100%;
  }
}
.backgroundSquares {
  background-image: url("../img/backgroundSquares.png");
  background-position: top;
  position: relative;
  z-index: -5;
}

.greyBlockForCapa {
  height: 250px;
  width: 100%;
  background: #E0DEE4;
}
@media (max-width: 1200px) {
  .greyBlockForCapa {
    display: none;
  }
}
.titleAbout {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  position: relative;
  z-index: 2;
  line-height: 63px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.redBg {
  background: #D9262D;
  padding: 10px 7px 10px 18px;
  border-radius: 10px;
}

.knowAbout {
  padding-top: 116px;
}

.symbolCapa {
  position: absolute;
  left: 94px;
  top: -60px;
  z-index: -1;
  transition: 0.5s;
}

.titleAbout:hover .symbolCapa {
  scale: 1.1;
  transition: 0.5s;
}

.infoKnowAbout {
  border-top: 1px white dashed;
  padding-top: 29px;
  margin-top: 140px;
  color: white;
  width: 206px;
  font-weight: 600;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  line-height: 19px;
}
@media (max-width: 1200px) {
  .infoKnowAbout {
    border-top: none;
    padding-top: 0;
  }
}
.marronBgPadding {
  color: white;
  background: #562C3E;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
}

.ourProjects {
  padding-top: 150px;
}

.carouselSecond {
  margin-top: 100px;
}

.slideBg1V2 {
  background-image: url("../img/slider1p1.png");
  background-size: cover;
}

.slideBg2V2 {
  background-image: url("../img/slider1p2.png");
  background-size: cover;
}

.slideBg3V2 {
  background-image: url("../img/slider1p3.png");
  background-size: cover;
}

.slideBg4V2 {
  background-image: url("../img/ourProjectList4.png");
  background-size: cover;
}

.slideBg5V2 {
  background-image: url("../img/ourProjectList5.png");
  background-size: cover;
}

.slideBg6V2 {
  background-image: url("../img/ourProjectList6.png");
  background-size: cover;
}

.bigLatter {
  font-size: 96px;
}

.averageLatter {
  font-size: 40px;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.subtitleSlide, .btnSlide {
  opacity: 0;
  animation: none;
}

.swiper-slide-active .subtitleSlide, .swiper-slide-active .btnSlide {
  animation: slideUp 0.5s ease forwards;
}

.ourBtnsSecondSlide {
  transition: 0.5s;
  position: absolute;
  right: 20% !important;
  top: 50% !important;
  background: white;
  height: 71px !important;
  border-radius: 5px;
  width: 29px !important;
  background-image: url("../img/btnDirrection.png");
  background-size: 8px 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.ourBtnsSecondSlide:after {
  display: none;
}

.ourBtnsSecondSlidePrev {
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: 0.5s;
  position: absolute;
  top: 50% !important;
  left: 20% !important;
  z-index: 20;
  background: white;
  height: 71px !important;
  border-radius: 5px;
  width: 29px !important;
  background-image: url("../img/btnDirrection.png");
  background-size: 8px 18px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateZ(180deg);
}
.ourBtnsSecondSlidePrev:after {
  display: none;
}

.rightBottomCorner {
  position: absolute;
  bottom: 0;
  right: -2px;
}

.dateInCorner {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 40px;
  padding-bottom: 11px;
}

.topTitleCarousel {
  color: white;
  background: #562C3E;
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  display: inline-block;
  position: absolute;
  top: 14px;
  left: 14px;
  border-radius: 5px;
  padding: 7px 20px;
  font-weight: 600;
}

.descPart {
  display: flex;
  margin-bottom: 9px;
}

.descriptionSwipe2 {
  position: absolute;
  bottom: -165px;
  left: 0;
  height: 150px;
}

.leftDesc {
  width: 237px;
  border-bottom: 1px dashed #CDC0C6;
}

.titleSection {
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.titleSection.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.titleSupp {
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.titleSupp.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.carousel_block {
  position: relative;
}
.carousel_block .ourBtnsSecondSlide,
.carousel_block .ourBtnsSecondSlidePrev {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.carousel_block:hover .ourBtnsSecondSlide,
.carousel_block:hover .ourBtnsSecondSlidePrev {
  opacity: 1;
  visibility: visible;
}

.imgS1Elem {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  margin: 0 auto;
}

.imgS1Elem.in-view {
  opacity: 1;
  transform: translateY(0);
}

.ourProjectsInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 60px;
  background: none;
  color: rgb(86, 44, 62);
  font-size: 16px;
}

.btnContract {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  background: #D9262D;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  width: 138px;
  height: 42px;
  cursor: pointer;
  align-self: flex-end;
}

/*# sourceMappingURL=style.css.map */
